.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color:rgb(13, 75, 133)
  }
  .header-heading{
    font-size:40px
  }
  .buttons-span{
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center ;
    margin-top: 10px;
  }
  .homeLink,.createLink{
    text-decoration: none;
    color:rgb(13, 75, 133);
    font-weight: 600;
    font-size: 18px;
  }
  .homeLink:hover,.createLink:hover{
    border-bottom: 4px solid white;
  }
  